services:
  slicer-api:
    build:
      context: .
      dockerfile: services/slicer-api/Dockerfile
    image: slicer-api:latest
    container_name: slicer-api
    #network_mode: host 
    environment:
      TZ: Europe/Rome
      SPOOLMAN_URL: "http://192.168.10.164:7912"
    volumes:
      - ./storage/uploads:/in
      - ./storage/sliced:/out
      - ./profiles:/profiles:ro
      - ./storage/logs:/logs
    ports:
      - "${SLICER_API_PORT:-8088}:8080"
    restart: unless-stopped
