services:
  app:
    container_name: spoolsite
    build:
      context: .
      dockerfile: ./api/Dockerfile
      args:
        PRUSA_URL: "https://github.com/prusa3d/PrusaSlicer/releases/download/v2.7.4/PrusaSlicer-2.7.4+linux-x64-GTK3-202405130813.AppImage"
    ports:
      - "8088:8080"
    environment:
      - SPOOLMAN_URL=${SPOOLMAN_URL:-http://192.168.10.164:7912}
      - HOURLY_RATE=${HOURLY_RATE:-1}
      - CURRENCY=${CURRENCY:-EUR}
      - MAX_UPLOAD_MB=${MAX_UPLOAD_MB:-100}
    healthcheck:
      test: ["CMD-SHELL","curl -fsS http://localhost:8080/health || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 5
    volumes:
      - ./web:/app/web:ro
      - ./uploads:/app/uploads
    restart: unless-stopped
