services:
  app:
    container_name: spoolsite
    build:
      context: .
      dockerfile: ./api/Dockerfile
    ports:
      - "8088:8080"
    environment:
      - SPOOLMAN_URL=http://192.168.10.164:7912
      - HOURLY_RATE=1
      - CURRENCY=EUR
    volumes:
      - ./web:/app/web:ro
      - ./uploads:/app/uploads
    restart: unless-stopped
